---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/common/Hero.astro';
import { SITE } from '@/consts/sitio';

---

<Layout title={SITE.name}>

    <Hero>
    <Fragment slot="title">
      
    </Fragment>

    <Fragment slot="subtitle">
     
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Empresa dedicada al Mantenimiento e Ingeniería Industrial, Optimización de procesos, Ingeniería y
      Optimización de Calderas, Redes de Vapor que provee servicios de asesoría a sus clientes, y contribuye
      al desarrollo sustentable de estos, operando en forma competitiva y rentable para los diferentes sectores productivos de la zona. 

    </Fragment>
  </Hero>
	
</Layout>