---

const {
  item = {},
  id
} = Astro.props;

---

<a name={`img_${id}`} class="flex-none w-full snap-center">
  <img
    src={item.src}
    width={`${item.width/4}px`}
    height={`${item.height/4}px`}
    class="object-cover  mx-auto rounded-md w-full"
    />
</a>
