---

const {
  item = {},
  id
} = Astro.props;

---
<div class="swiper-slide">
  <a name={`img_${id}`} class="snap-center">
    <img
      src={item.src}
      width={`${item.width/8}px`}
      height={`${item.height/8}px`}
      class="object-cover mx-auto rounded-md"
      />
  </a>
</div>
